<div class="container">

  <div class="row">
    <div class="col-md-3">
      <label>Enter task : </label>
    </div>
    <div class="col-md-9">
      <form #taskForm='ngForm' (ngSubmit)=onSubmit(taskForm)>
        <div class="row">
          <div class="col-md-4">
            <input type="text" id="taskId" name="taskId" class="form-control mr-sm-2" [(ngModel)] = "taskEditObj.taskItem">
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input id="date" name="date" matInput [matDatepicker]="myDatepicker" [(ngModel)] = "taskEditObj.date">
              <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <button mat-stroked-button color="primary" type="submit">{{isEdit ? "Update" : "Submit"}}</button>
        </div>
      </div>
    </form> 
    </div>    
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul id="taskList">
        <li *ngFor="let task of taskListObj; let i = index">
          
          <mat-card>
            <div class="row">
              <div class="col-md-5">
                <span>{{task.taskItem}}</span>
              </div>
              <div class="col-md-5">
                <mat-form-field>
                  <input matInput [matDatepicker]="myDatepicker" [(ngModel)] = "task.date">
                  <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #myDatepicker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-1">
                <button mat-button color="primary" (click)=onEdit(task)>Edit</button>
              </div>
              <div class="col-md-1">
                <button mat-button color="primary" (click)=onDelete(task)><mat-icon>close</mat-icon></button>
              </div>
            </div>            
          </mat-card>

        </li>
      </ul>     
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover table-bordered">      
        <thead>
          <tr>
            <th>To-Do Item</th>
            <th>End Date</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <ul id="taskList">
              <li *ngFor="let task of taskListObj; let i = index">
                <td>{{task.taskItem}}</td>
                <td>
                  <mat-form-field>
                    <input matInput [matDatepicker]="myDatepicker" [(ngModel)] = "task.date">
                    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #myDatepicker></mat-datepicker>
                  </mat-form-field>
                </td>
              </li>
            </ul>
          </tr>
        </tbody>
        
      </table>
    </div>
  </div>

  </div>